<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سامانه رزرو بلیط سینما</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/css/icomoon.css">
    <!-- Themify Icons-->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/js/modernizr-2.6.2.min.js"></script>


</head>
<body>
    <nav class="gtco-nav" role="navigation">
        <div class="gtco-container">

            <div class="row">
                @*<div class="col-sm-4 col-xs-12">
                <div id="gtco-logo"><a href="index.html">Traveler <em>.</em></a></div>
            </div>*@
                <div class="col-xs-8 text-right menu-1">
                    <ul>
                        @*<li><a href="destination.html">Destination</a></li>
                    <li class="has-dropdown">
                        <a href="#">Travel</a>
                        <ul class="dropdown">
                            <li><a href="#">Europe</a></li>
                            <li><a href="#">Asia</a></li>
                            <li><a href="#">America</a></li>
                            <li><a href="#">Canada</a></li>
                        </ul>
                    </li>*@
                        <li style="font-family:Tahoma,'B Yekan';position:fixed;right:5px;"><a href="../Admin/AdminHome">AdminControlPanel </a></li>


                        @*<li style="font-family:Tahoma,'B Yekan';position:fixed;right:100px;"><a >ورود</a></li>*@
                    </ul>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {

                <p style="font-family:Tahoma,'B Yekan';position:fixed;right:350px;">  LoggedAs :    @Session["CustomerName"]</p>
            }
            @if (User.Identity.IsAuthenticated)
            {

                <a class="fa fa-sign-out" style="font-family:Tahoma,'B Yekan';position:fixed;right:500px;" href="../CustomerLogin/LogOut">logout</a>
            }

        </div>
    </nav>
    <header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/MyImages/Cinema.jpg)">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-left">


                    <div class="row row-mt-15em">
                        <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
                            <h1>
                                Love the movies?
                                Get POPCORN!
                            </h1>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Design And Develop By Fatemeh Parniyan </p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>

<script src="~/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="~js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="~js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="~js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="~js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="~js/jquery.countTo.js"></script>

<!-- Stellar Parallax -->
<script src="~js/jquery.stellar.min.js"></script>

<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>

<!-- Datepicker -->
<script src="js/bootstrap-datepicker.min.js"></script>


<!-- Main -->
<script src="js/main.js"></script>
